body{
   
position: absolute;
width: 1424px;
height: 971px;

background: radial-gradient(75.08% 149.64% at 63.8% 33.21%, #242535 0%, #242535 86.2%, #242535 100%) /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */;
}



code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.link {
 
    position: absolute;
    width: 182px;
    height: 42.16px;
    left: 99px;
    top: 600px;
    
    background: #FFCA00;
    border-radius: 62px;



}

.Para {
    position: absolute;
width: 532px;
height: 94px;
left: 99px;
top: 443px;

font-family: 'Mulish';
font-style: normal;
font-weight: 300;
font-size: 18px;
line-height: 23px;

color: #FFFFFF;
}